/*

div {
  background-color: lightblue;
  border: 1px solid blue;


.col-md-12>.navbar.navbar-default {
  background-color: #45619d;
}

body {
  background: #f3f3f3;
}

 #search_form {
   margin-left: 15%;
 }

.navbar-form .form-control {
  width: 230px;
}

.jumbotron {
  background-color: white;
  height: 600px;
  overflow: auto;
}


.col-md-12 .navbar-header img{
  margin-top: 11px;
}

#bs-example-navbar-collapse-1 img{
  margin-top: 9px;
}

#bs-example-navbar-collapse-1 li{
  color: white;
border-right: none;
font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
-webkit-font-smoothing: antialiased;
margin-left: 2px;
padding-left: 9px;
padding-right: 1px;
text-shadow: 0 -1px rgba(0, 0, 0, .5);
}

button.sd_goto_home {
  background-color: transparent;
  border: none;
  padding: 0;
}

*/
